.work {
    p {
        color: var(--color-gray);
    }

    &__list {
        counter-reset: num;
        padding-top: 40px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        column-gap: 20px;

        @include mobile {
            flex-direction: column;
        }

        &-item {
            position: relative;
            width: 368px;

            @include mobile {
                width: 100%;
            }

            span {
                color: var(--color-accent-blue);
            }
            
            &:first-child {
                span {
                    color: var(--color-accent-green);
                }
            }

            &:last-child {
                span {
                    color: var(--color-accent-pink);
                }
            }
            

            &::before {
                content: '0'counter(num); 
                counter-increment: num;
                display: inline-block;
                position: relative;
                top: 0;
                left: 0;
                width: 50px;    
                color: var(--color-gray);
                text-align: left;
                font-size: 117px;
            }
        }

        &-title {
            margin-bottom: 22px;
        }
    }
}