.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.bg--peach {
    background-color: var(--color-accent-peach);
}

.bg--violet {
    background-color: var(--color-accent-violet);
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.hidden-tablet {
    @include tablet {
        display: none !important;
    }
}

.hidden-laptop {
    @include laptop {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}
